$fa-font-path:   "../fonts";

$white: #f2f2f2;
$very-light-gray: #cccccc;
$another-light-shade-of-gray: #b3b3b3;
$slightly-lighter-light-gray: #808080;
$light-gray: #666666;
$medium-light-gray: #4d4d4d;
$slightly-blackier-shade-of-gray: #333333;
$dark-almost-black: #1a1a1a;
$red: #c1272d;
