.game-board {
  @include flexbox;
  @include flex-flow(row wrap);
  margin: 0 auto;
  max-width: 80rem;
  min-width: 62rem;
  width: 100%;

  .map-area {
    @include flex(1 calc(100% - 20rem));
  }

  .menu-area {
    @include flex(1 20rem);
  }

  .suspects-area {
    @include flex(1 100%);
  }
}
