.map-area {
  background: $dark-almost-black;
  box-sizing: border-box;
  padding: 1rem;

  h2 {
    margin: 0;
    text-align: center;
  }
}

.map-nav {
  @include flexbox;
  @include flex-flow(row wrap);
  @include justify-content(center);
  margin-bottom: 1rem;

  h2 {
    @include flex(1, 40%);
  }

  &__interaction {
    @include flex(1, 30%);
    @include flexbox;
    @include justify-content(flex-end);
    @include flex-direction(column);

    a {
      color: $slightly-lighter-light-gray;
      text-decoration: none;
    }
  }
}
