.menu-area {
  background: $medium-light-gray;
  box-sizing: border-box;
  padding: 1rem;

  .notes {
    margin-top: 1.5rem;
  }
}

.branding {
  &__title {
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 1rem;
  }
}
